* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Light-Gray);
    font-family: 'Karla', sans-serif;
}
main {
    max-width: 800px;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px var(--Grayish-Blue);
    overflow: hidden;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.container div {
    padding: 3rem;
}
.container .box-1 {
    background-color: white;
    grid-area: 1 / span 2;
}
.box-1 h2 {
    color: var( --Cyan);
}
.box-1 h3 {
    color: var(--Bright-Yellow);
    margin: 1.5rem 0 1rem 0;
}
.box-1 p {
    color: var(--Grayish-Blue);
    font-size: 16px;
    line-height: 1.7;
    max-width: 550px;
}
.container .box-2 {
    background-color: var(--Cyan);
    grid-area: 2;
}
.container .box-2  p:first-child {
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.box-2 h2 {
    color: white;
    margin: 1.5rem 0 0.5rem 0;
}
.box-2 h2 span {
    color: var(--Grayish-Blue);
    font-size: 16px;
}
.box-2 p:last-of-type {
    color: var(--Light-Gray);
    margin-bottom: 2.5rem;
}
.box-2 button {
    border: none;
    background-color: var(--Bright-Yellow);
    color: white;
    padding: 20px;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgb(125, 117, 117);
}
.container .box-3 {
    background-color: hsl(179, 62%, 43%, 80%);
}
.container .box-3 p {
    font-size: 16px;
    color: var(--Light-Gray);
    font-weight: 700;
}
.box-3 article {
    color: var(--Light-Gray);
    margin-top: 1.5rem;
    line-height: 1.6;
}
@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}